<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book detail</title>
	</head>
	<body>
		<center>
			<h1>Book's information</h1>
			<p>title - {{book.title}}</p>
			<p>subtitle -{{book.subtitle}}</p>
			<p>description - {{book.description}}</p>            
			<p>author - {{book.author}}</p>            
			<p>genre - {{book.genre}}</p>            
			<p>year - {{book.year}}</p>
			<p>price - {{book.price}}</p>
		</center>
	</body>
</html>
